body {
    max-width: 750px;
    margin: 0 auto;
}

h3 {
    margin: 20px;
    text-align: center;
}

table {
    width: 70%;
    margin: 0 auto;
}

th,
h1 {
    text-align: center;
}

td:nth-child(2),
td:nth-child(3) {
    text-align: center;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px 25px;
    background-color: rgb(107, 107, 105);
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

span {
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}

form,
table {
    margin-top: 20px;
}

input,
select {
    width: 150px;
}
div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

div .a {
    height: 40px;
}